## TUPLE
1.immutable 2.creating using ( ) elements are seperated by , 3.Indexed,ordered

In [1]:
#Tuple
tup1=(12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [2]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [3]:
#convert tuple to list
list1 = list(tup1)
list1[2] = 100
tup1 = tuple(list1)
tup1

(12, 3, 100, 'abc', True)

### Built_in methods:
1.count() 2.index()

In [4]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [5]:
#unpacking
tup2 = (12,232,4,354)
a,b,c,d = tup2
print(a,b,c,d)

12 232 4 354

In [6]:
#packing
X=10,20,30
print(type(X))
print(X)

<class 'tuple'>
(10, 20, 30)

In [7]:
#Tuple with single element
y=(10,)
print(type(y))

<class 'tuple'>

In [8]:
#Iterating through tuple
for ele in X:
    print(ele,end=" ")

10 20 30

## Set:
1.{} 2.does not allow duplicate values 3.not ordered 4.unindexed 5.mutable

In [9]:
set1={1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [10]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

## Built_in functions:
1.len() 2.min() 3.max() 4.set()

In [11]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [12]:
#Removing duplicates from the list
list1=[1,2,3,4,5,1,2,3]
list1=set(list1)
list1

{1, 2, 3, 4, 5}

## Built_in methods:
### adding an element:
1.add()

### removing an element:
2.pop() 3.remove() 4.discard() 5.clear()

In [13]:
set2 = set()
print(type(set2))

<class 'set'>

In [14]:
#adding element to the set
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [19]:
#removing element from the set
set2.pop()

23

In [18]:
set2.remove(12)

KeyError: 12

In [28]:
set2.discard(12)

In [29]:
set2

set()

In [30]:
set2.clear()
set2

set()

In [31]:
#union,difference,intersection
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A U B ==>{1,2,3,4,5,6,7}
print(A.union(B))

#difference(A-B or B-A)
print(A.difference(B))
print(B.difference(A))

#intersection 
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [32]:
#subset,super set
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))
print(B.issubset(C))
print(C.issuperset(A))
print(C.issuperset(B))

True
True
True
True

In [33]:
#disjoint set
X={1,2}
Y={23,34,45}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [34]:
#symmetric difference ==>(A-B U B-A)
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [35]:
A.update(B)#A=A.union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [36]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [37]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [38]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

In [39]:
A={1,2,3}
B={2,3,4}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
print(A.symmetric_difference(B))#A-B union B-A
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

## Dictionary:
syntax: dictionary name={key1:value1,key2:value2,.....} rules for key: 1.keys should be unique 2.keys should be immutable (example:numerics,strings,tuple)

In [40]:
#creating a dictionary
dict1={"name":"jayanth","rollno":42,"address":"hyd"}
print(dict1)

{'name': 'jayanth', 'rollno': 42, 'address': 'hyd'}

In [41]:
#Extracting an element
print(dict1["rollno"])

42

In [42]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'jayanth', 'rollno': 42}

In [43]:
#Adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'jayanth', 'rollno': 42, 'course': 'python'}

### Built_in methods:
1.keys() 2.values() 3.items() 4.get() 5.update() 6.pop() 7.popitem()

In [44]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'rollno', 'course'])
dict_values(['jayanth', 42, 'python'])
dict_items([('name', 'jayanth'), ('rollno', 42), ('course', 'python')])

In [45]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

jayanth
jayanth

In [46]:
#Adding a entry
dict1["address"]="hyd"
dict1

{'name': 'jayanth', 'rollno': 42, 'course': 'python', 'address': 'hyd'}

In [47]:
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'jayanth', 'rollno': 42, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [48]:
#removing an element ==>pop(),popitem()
dict1.popitem()
print(dict1)
dict1.pop("name")
print(dict1)

{'name': 'jayanth', 'rollno': 42, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2}
{'rollno': 42, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2}