<a href="https://colab.research.google.com/github/SYEDIRFAN555/ADV-PROG/blob/master/Day_4(29_05_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Loop control statements : break,continue
for i in range (1,11):
    if i % 5==0:
        break
    else:
            print(i)

1
2
3
4

In [0]:
for i in range (1,11):
    if i % 5== 0:
        continue
    else:
            print(i)

1
2
3
4
6
7
8
9

In [0]:
# username : python
# password : jay123
while True:
    user = input("enter your name: ")
    if user == "python":
        pwd = input("enter your password: ")
        if pwd == "jay123":
            print("login success!!")
            break
    else:
        continue

enter your name: jay
enter your name: python
enter your password: mallika
enter your name: python
enter your password: jay123
login success!!

In [0]:
#pass -->for creating empty blocks
if 12 < 34:
    pass
else:
    print("else")

## Function
block of statements
1. predefined(which are already)
   - len(),print(),input(),min(),max()
2. user- defined(custom function)

In [0]:
def name(username):
    print("hello",username)
    
name("39")#Function calling

hello 39

In [0]:
def addition(a,b):
    return a+b

addition(10,20)

30

30
300
3000

In [0]:
def addition(a,b):
    return a+b,a-b,a*b,a/b

print(addition(10,20))def addition(a,b):
    return a+b

print(addition(10,20))
print(addition(100,200))
print(addition(1000,2000))
print(addition(100,200))
print(addition(1000,2000))

(30, -10, 200, 0.5)
(300, -100, 20000, 0.5)
(3000, -1000, 2000000, 0.5)

In [0]:
#Multiple return values
def arithmetic(a,b):
    return a+b,a-b,a*b,a/b

#Unpacking
add,sub,mul,div = arithmetic(10,20)
print(sub)

-10

### Different types of Arguments
1. Required positional argument
2. Default argument
3. keyword argument
4. variable length argument

In [0]:
def add(a,b):
    return(a+b)
add(10,20)
#add(10,20,30)

30

In [0]:
#default argument
#default arg should be at the end of arg
def add(a,b=100):
    return a+b

add(100)

200

In [0]:
def add(a,b=100):
    return a+b

print(add(100))
print(add(200,200))
print(add(2000,2000))

200
400
4000

In [0]:
#keyword arguments:
def add(a,b):
    print("a value:",a)
    print("b value:",b)
    return(a+b)
add(b = 10,a = 20)

a value: 10
b value: 20

30

In [0]:
a=int(input("enter a value"))
b=int(input("enter b value"))
add(a,b)

enter a value39
enter b value42
a value: 39
b value: 42

81

In [0]:
#variable length arguments
#(120,230,34,450,460)-->Tuple
def add(*a):
    
    return sum(a)

print(add(10,20))
print(add(100,200,300))
print(add(1000,2000,3000,4000))

30
600
10000

In [0]:
#variable length arguments
#(120,230,34,450,460)-->Tuple
def add(*a):
    
    m = 1
    for i in a:
        m = m*i
    return m    

print(add(10,20))
print(add(100,200,300))
print(add(1000,2000,3000,4000))

200
6000000
24000000000000

In [0]:
#Nested Functions : square,cube
def square(a):
    return a*a

def cube(x):
    return square(x)*x
    
print(square(10))    
print(cube(10))
print(cube(100))

100
1000
1000000

### Recursive Functions: 
1. Factorial of a number
2. Fibonacci series

### Data Structures:
1. List :
    - [] elements seperated by ,
    - indexed
    - oredered-Duplicate values
    - Mutable
    - Any type of values

In [0]:
list1 = [12,23,45,True,"abc",12]
print(type(list1))

<class 'list'>

In [0]:
#operators supported by list : +,*,[],[:],in,not in
list1 = [1,2,3]
list2 = [10,20,30]
print(list1+list2)
print(list1*3)
print(list1[1]) #2
print(list1[1:3]) #[1,2]
print(2 in list1) # True
print(200 in list1) #False

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [0]:
#Built-in functions:Len(),min(),max(),List()
list1 = [1,2,3,40]
s1 = "python"
print(len(list1))
print(min(list1))
print(max(list1))
list2 = list(s1)
print(list2)
list1[-1] =100
print(list1)

4
1
40
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]